_site
vendor

.sass-cache
.jekyll-metadata
.jekyll-cache
.directory
*~
build
node_modules

.sass-cache
.jekyll-metadata
assets/bundle.js
node_modules
*.log

# FIX: unable to install certain versions of pkgs
Gemfile.lock
