<nav id="menu_footer" role="navigation">
                {% include menu_site.html %}
<!--
                [&nbsp;<a href="{{ site.url }}/">home</a>&nbsp;|&nbsp;
        <a href="{{ site.url }}/articles/">articles</a>&nbsp;|&nbsp;
        <a href="{{ site.url }}/reference/">reference</a>&nbsp;|&nbsp;
        <a href="{{ site.url }}/reference/glossary/">glossary</a>&nbsp;|&nbsp;
        <a href="{{ site.url }}/reference/links/">links</a>&nbsp;|&nbsp;
        <a href="{{ site.url }}/about/">about</a>&nbsp;]
-->
</nav>
