<ul id="menu_site" class="submenu">
        <li><a href="{{ site.url }}/">home</a></li>
        <li>
            <a href="{{ site.url }}/articles/">articles</a>
            <ul>
                <li><a href="{{ site.url }}/articles/pinned">pinned</a></li>
				<li><a href="{{ site.url }}/articles/categories/">categories</a></li>
                <li><a href="{{ site.url }}/articles/tags/">tags</a></li>
            </ul>
		</li>
        <li>
			<a href="{{ site.url }}/reference/">reference</a>
			<ul>
				<!--
				<li>
					<a href="{{ site.url }}/reference/characters/">characters</a>
				</li>				

				<li>
					<a href="{{ site.url }}/reference/templategarden/">template garden</a>
				</li>
-->
				<li><a href="{{ site.url }}/reference/glossary/">glossary</a></li>
				<li><a href="{{ site.url }}/reference/links/">links</a>
					<ul>
						<li><a href="https://kb3c.github.io">kb3c.uX</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="{{ site.url }}/about/">about</a></li>
		<ul>
			<li>

				<a href="{{ site.url }}/about/portfolio/">portfolio</a>
<!--
				<ul>
					<li><a href="{{ site.url }}/about/portfolio/flops">FLOPS</a></li>
					<li><a href="{{ site.url }}/about/portfolio/libgh/">libGH</a></li>
					<li><a href="{{ site.url }}/about/portfolio/dow/">DoW</a></li>
				</ul>
-->
		</li>
<!--
			<li>
			<a href="{{ site.url }}/about/resume/">resume</a>
	
			<ul>
				<li><a href="{{ site.url }}/articles/pinned">pinned</a></li>
				<li><a href="{{ site.url }}/articles/categories/">categories</a></li>
				<li><a href="{{ site.url }}/articles/tags/">tags</a></li>
			</ul>

	</li>		
-->
		</ul>
</ul>
