{% if site.owner.email %}<li>
    <a href="mailto:{{ site.owner.email }}"><i class="fa fa-fw fa-envelope"></i> Email</a>
</li>{% endif %}
{% if site.owner.twitter %}<li>
    <a href="https://twitter.com/{{ site.owner.twitter }}"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
</li>{% endif %}
{% if site.owner.facebook %}<li>
    <a href="https://facebook.com/{{ site.owner.facebook }}"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
</li>{% endif %}
<!--{% if site.owner.google_plus %}<li>
    <a href="https://google.com/{{ site.owner.google_plus }}"><i class="fa fa-fw fa-google-plus"></i> Google+</a>
</li>{% endif %}
-->
{% if site.owner.linkedin %}<li>
    <a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a>
</li>{% endif %}
{% if site.owner.github %}<li>
    <a href="https://github.com/{{ site.owner.github }}"><i class="fa fa-fw fa-github"></i> GitHub</a>
</li>{% endif %}

{% if site.owner.gitlab %}<li>
    <a href="https://gitlab.com/{{ site.owner.github }}"><i class="fa fa-fw fa-gitlab"></i> GitLab</a>
</li>{% endif %}

{% if site.owner.bitbucket %}<li>
    <a href="https://bitbucket.org/{{ site.owner.bitbucket }}"><i class="fa fa-fw fa-bitbucket"></i> bitbucket</a>
</li>{% endif %}

{% if site.owner.stackexchange %}<li>
    <a href="https://stackexchange.com/users/{{ site.owner.stackexchange }}"><i class="fa fa-fw fa-stack-exchange"></i> Stackexchange</a>
</li>{% endif %}

{% if site.owner.youtube %}<li>
    <a href="https://youtube.com/user/{{ site.owner.youtube }}"><i class="fa fa-fw fa-youtube"></i>YouTube</a>
</li>{% endif %}
{% if site.owner.soundcloud %}<li>
    <a href="https://soundcloud.com/{{ site.owner.soundcloud }}"><i class="fa fa-fw fa-soundcloud"></i>Soundcloud</a>
</li>{% endif %}

{% if site.owner.instagram %}<li>
    <a href="https://instagram.com/{{ site.owner.instagram }}"><i class="fa fa-fw fa-instagram"></i> Instagram</a>
</li>{% endif %}
{% if site.owner.flickr %}<li>
    <a href="https://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fa fa-fw fa-flickr"></i> Flickr</a>
</li>{% endif %}
{% if site.owner.tumblr %}<li>
    <a href="http://{{ site.owner.tumblr }}.tumblr.com"><i class="fa fa-fw fa-tumblr"></i> Tumblr</a>
</li>{% endif %}
