/* FONT PATH
 * -------------------------- */

 @font-face {
    font-family: 'DigofaRegular';
    src: url('#{$fa-font-path}/robotocondensed-regular-webfont.eot?v=#{$fa-version}');
    src: url('#{$fa-font-path}/robotocondensed-regular-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
      url('#{$fa-font-path}/robotocondensed-regular-webfont.woff2?v=#{$fa-version}') format('woff2'),
      url('#{$fa-font-path}/robotocondensed-regular-webfont.woff?v=#{$fa-version}') format('woff'),
      url('#{$fa-font-path}/robotocondensed-regular-webfont.ttf?v=#{$fa-version}') format('truetype'),
      url('#{$fa-font-path}/robotocondensed-regular-webfont.svg?v=#{$fa-version}#robotocondensed-regularregular') format('svg');
  //  src: url('#{$fa-font-path}/robotocondensed-regular.otf') format('opentype'); // used when developing fonts
    font-weight: normal;
    font-style: normal;
  }
