html, body {
  background: url("/assets/img/bg/tile/mist-darkblue.png") #000011;
}


html, body, h1, h2, h3, h4, h5, h6, .maincontain {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
	border: 1px dotted;
}

a:active {
  color: #f00;
  animation: 3s linkglow alternate infinite;
}

main, .pageContent, article, footer, .post-entry {
  padding: 1em;
  align-items: center;
}

.siteTitle, header, .maincontain {
  align-items: center;
}

.headercontain, main, footer {
  margin: 0 auto;  
  max-width: $max-content-width;
}

.maincontain {
  margin:0;
  padding:0;
  width: 100%;

  background: #fff;
  background-image:
  linear-gradient( to bottom, 
    #333333, 
    white 3% );
}

header {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;

  width: 100%;

  background: url("/assets/img/header-up-1.png") #000;
  background-size: 100%;

  font-family: RobotoCondensed, "Arial Narrow", "Liberation Sans Narrow", Helvetica, sans;
  color:#fff;

  box-shadow: 0px .4em .5em rgba(0,0,0,.3);

  a:link {
    color: #fff;
  }

  a:visited {
    color: #ccc;
  }

  a:hover, a:focus {
    color: #fff;
    text-shadow: 0 0 .5rem #ff0;
  }

  .siteTitle {
    font-size: 26pt;
    font-weight: bold;
    text-shadow: 2px 2px 1em #000;

    a:visited {
      color: #fff;
    }

    a:hover {
      color: #fff;
    }

  }

  .pageHeader {
    padding-top: .25em;
    vertical-align: middle;
    font-size: 18pt;
    font-weight: bold;
  }

  nav {
    color:#777;
  }

  .siteNav {
    font-size: 16pt;    
    a {
      border-radius: 3px 3px 0 0;
    }    
  }

  .breadCrumbs {

    font-size: 18pt;

  }
}

main {
//  background-image:
//  linear-gradient( to bottom, rgba(255,255,255,.3), 
//    rgba(255,255,255,1) 2%, rgba(255,255,255,1) 98%, 
//    rgba(255,255,255,.3) ); 

  background: rgba(255,255,255,.7);

  article {
    background: #fff;
    font-family: "RobotoCondensed", "Arial Narrow", "Liberation Sans Narrow", Helvetica;
    color: #000;
    border-radius: .25em;
    box-shadow: 2px 2px 1em #000;

    h1 {
      font-weight: bold;
      font-size: 24pt;
    }
    h2 {
      font-weight: bold;
      font-size: 20pt;
    }
    h3 {
      font-size: 16pt;
    }
    h4 {
      font-size: 14pt;
    }
    h5 {
        font-size: 12pt;
    }
    h6 {
      font: 10pt "Fira Code", "Liberation Sans", "Terminal", Monospace;
    }

    .post-entry {
      font: 12pt "Palatino Linotype", "Book Antiqua", Palatino, serif;
      color: #000;

      .post-header {
        font-family: "RobotoCondensed", "Arial Narrow", "Liberation Sans Narrow", Helvetica;
        font-weight: bold;        
        
        .post-title {
          font-size: 24pt;
        }

        h2 {
          font-size: 16pt;
          color: #333;
        }
        time {
          font: 10pt "Fira Code", "Liberation Sans", "Terminal", Monospace;
          color: #777;
        }
      }
//      .entry-content {
//        font: 12pt "Palatino Linotype", "Book Antiqua", Palatino, serif;
//      }
    }

    .listing {
      font-size: 16pt;
      ul {
        list-style: none;
        padding-left: 1em;
        margin-left: 2em;
      
      li {
        margin: 0 auto;    
        margin-bottom: 1em;
        h1, h2, h6 {
          margin: 0;
        }
      }
        
      li:before {
          content: $fa-var-file-text;
          font-family: FontAwesome;
          display: inline-block;
          margin-left: -1em; /* same as padding-left set on li */
          width: 1em; /* same as padding-left set on li */
        }
      }
    }

 //   .pageContent {
 //     h1 {
  //      font: 24pt bold RobotoCondensed, "Arial Narrow", "Liberation Sans Narrow", Helvetica;
 //       color: #000;
 //     }
 //   }
  }

  .social-links {
    font: 14pt bold RobotoCondensed, "Arial Narrow", "Liberation Sans Narrow", Helvetica;
    
    ul {
      padding: .25em;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      border-radius: .25em;
      
      li {
        list-style: none;
      }
  
    }
    ul:hover {
      color: #fff;
//      box-shadow: 0 0 3em #ff0; 
    }    
  }


}

footer{
  color: #777;
  font-size: 12pt;

  a:link {
    color: #ccc;
  }

  a:visited {
    color: #777;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  nav {
    margin: auto;
    a:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    margin: auto;
    padding: .5em;    
    display: table;
    font: 10pt "Fira Code", "Liberation Sans", "Terminal", Monospace;
    color: 555;
    border-radius: .5em;  
  }

  .copyright:hover {
    color: #fff;
    box-shadow: 0 0 3em #ff0;    
  }

}

