a, nav, header, footer, img, ul, li, p, div, span, main {
	transition-duration: .3s;
	animation-duration: .3s;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.wideFlex {
  display: flex;
  justify-content: space-between;
  flex-basis: width;
}

.widthConstrain {
  margin: 0 auto;
  padding: .5em;
  max-width: $max-content-width;
}

.alignCenter {
  display: flex;
  justify-content: space-around;
}

.alignMiddle {
  vertical-align: middle;
}

.padContent {
  padding: 1em;
}


/* remove styling from a list element */
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;

	li {
		list-style-type: none;
	}
}

/* inline a list */
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;

	li {
		list-style-type: none;
		display: inline;
	}
}