---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {% include head.html %}
    <body>
        <div class="bodycontain">
            {% include header.html %}
            <main>
                <a name="pskt_top"></a>
                {% include breadcrumb.html %}
                {{ content }}
                {% include menu_footer.html %}
            </main>
            {% include footer.html %}
        </div>
<!--
        <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="{{ site.url }}/assets/js/main.js"></script>
        <script src="{{ site.url }}/assets/js/scripts.min.js"></script>
-->
    </body>
</html>
