---
layout: article
---

<section class="post-entry">
    <!-- <div class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>

      {%- if page.subtitle -%}
        <h3>{{ page.subtitle | escape }}</h3>
      {%- endif -%}





    </div> -->
  
    <div class="post-content">
      {{ content }}
    </div>

    <div class="post-footer">
      {%- if page.author -%}
        <p>~{{ page.author | escape }}</p>
        {%- if page.date -%}
        &nbsp;
        <time class="date-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
        </time>

        {%- if page.modified -%}
        |&nbsp;
        <time class="date-modified" datetime="{{ page.modified | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.modified | date: date_format }}
        </time>
        {%- endif -%}

      {%- endif -%}


      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}

      {%- endif -%}

    </div>
  
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </section>
  
